$tf*/
*.aps
*.bak
*.cache
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
.vs/
/.vs
Thumbs.db
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
bin/
obj/
packages/
vssver2.scc
/src/OopIsp/.vs/OopIsp/FileContentIndex/26753d4a-e606-4bbb-8bbb-b10f76d0fe1a.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/3c46b427-4242-4880-95d4-0e29f0018218.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/6a105a81-7a74-4fcb-88e1-26d8bcd19eaa.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/6bcd24f2-f49e-4de5-b4e8-fcda2d83cb63.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/a4022768-c2ce-4c24-b66f-bc4646160e01.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/f5b9a3cd-a6ec-491c-a8ea-b1eead692a59.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/f5b9a3cd-a6ec-491c-a8ea-b1eead692a59.vsidx
/src/OopIsp/.vs/OopIsp/FileContentIndex/f5b9a3cd-a6ec-491c-a8ea-b1eead692a59.vsidx
